extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockoute Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacus dolor, ultrices in elit et, feugiat finibus leo. In malesuada odio consequat erat consectetur euismod. Mauris tempus quis arcu eu consequat. In a nisi fringilla quam tempor sagittis. Integer neque justo, faucibus non ultricies et, congue at lorem. Vivamus egestas auctor augue, laoreet varius elit tristique vel. Pellentesque eleifend felis et lorem tincidunt bibendum.

                p Proin rhoncus elit id molestie porta. Cras id consequat odio, non finibus lorem. Sed pharetra ipsum et vestibulum ullamcorper. Aenean suscipit mattis ante, et auctor massa. Nam nisi felis, pulvinar sed magna nec, molestie ultrices leo. Sed vitae tincidunt mi. Fusce nisl tortor, aliquam sit amet sodales sed, venenatis id mi.

                p Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus leo libero, consectetur et orci a, venenatis cursus leo. Proin a dolor vitae dolor vehicula maximus vitae nec ligula. Proin at accumsan massa. Aliquam congue nisi sit amet turpis accumsan aliquam.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Proin rhoncus elit id molestie porta. Cras id consequat odio, non finibus lorem. Sed pharetra ipsum et vestibulum ullamcorper. Aenean suscipit mattis ante, et auctor massa.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono Destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Proin rhoncus elit id molestie porta. Cras id consequat odio, non finibus lorem. Sed pharetra ipsum et vestibulum ullamcorper. Aenean suscipit mattis ante, et auctor massa.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono Precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Proin rhoncus elit id molestie porta. Cras id consequat odio, non finibus lorem. Sed pharetra ipsum et vestibulum ullamcorper. Aenean suscipit mattis ante, et auctor massa.
