
.row.testimoniales            
    each testimonal in testimoniales
        
        .col-md-6.col.lg-4.mb-4
            .card
                .card-body
                    blockquote.blockquote
                    p.mb-0
                        | #{testimonal.mensaje}
                    footer.blockquote-footer
                        | #{testimonal.nombre}
